<template>
<div>
  <b-navbar class="admin-nav" type="dark" variant="dark" v-if="isLoggedIn">
    <b-navbar-nav>
      <b-nav-text>
        Привет, {{user.username}} ({{user.company}})
      </b-nav-text>
      <b-nav-item><b-button class="btn btn-danger" title="Вы вошли как" @click="logOut"  size="sm">Выйти</b-button></b-nav-item>
    </b-navbar-nav>
  </b-navbar>
  <router-view></router-view>
</div>
</template>

<script>
import {
  mapState,
  mapGetters,
  mapActions
} from "vuex"

export default {
  name: 'app',
  computed: {
    ...mapGetters('auth', ['isLoggedIn']),
    ...mapState('auth', ['user']),
  },
  methods: {
    ...mapActions('auth', ['logout']),
    logOut() {
      this.logout().then(() => {
        this.$router.push('/login')
      })
    }
  }
}
</script>
