<template>
<div>
  <b-table id="posts_table" :items="contracts" :fields="fields" :busy="isContractListBusy" small>
    <template #table-busy>
       <div class="text-center text-danger my-2">
         <b-spinner class="align-middle"></b-spinner>
         <strong>Загрузка...</strong>
       </div>
     </template>
    <template #cell(organization)="data">
      {{data.item.organization.name}}
    </template>
    <template #cell(contractor)="data">
      {{data.item.contractor.name}}
    </template>
    <template #cell(actions)="data">
      <b-link :to="{ name: 'contract', params: { id: data.item.id } }">Пользователи</b-link>
    </template>
  </b-table>
</div>
</template>

<script>
import axios from "axios";
import {
  mapState,
  mapGetters,
  mapActions
} from "vuex";

export default {
  data() {
    return {
      isContractListBusy: false,
      fields: [
        'id',
        'concluded_on',
        'organization',
        'contractor',
        'actions'
      ],
    }
  },
  computed: {
    ...mapState('contracts', ['contracts'])
  },
  created() {
    this.isContractListBusy = true;
    this.fetchContracts().then(resp => {
      this.isContractListBusy = false;
    })
  },
  methods: {
    ...mapActions('contracts', ['fetchContracts']),
  }
}
</script>
