<template>
<div>
  <h1 v-if="contract">{{contract.concluded_on}} {{contract.organization.name}} - {{contract.contractor.name}}</h1>
  <b-form inline>
    <label class="mr-sm-2" for="newContractUser">Пользователь</label>

    <b-form-select id='newContractUser' class="mb-2 mr-sm-2 mb-sm-0" v-if="canManage" v-model="newContractUser.user_id" :options="availableUsersOptions" required></b-form-select>

    <label class="mr-sm-2" for="newContractPosition">Должность</label>
    <b-form-select id="newContractPosition" class="mb-2 mr-sm-2 mb-sm-0" v-if="canManage" v-model="newContractUser.position_id" :options="positionsOptions" required></b-form-select>
    <b-button v-if="canManage" @click="addUser">Добавить пользователя</b-button>
  </b-form>
  <b-table id="posts_table" :items="contract_users" :fields="fields" :busy="isContractUserListBusy" :tbody-tr-class="rowClass" small>
    <template #table-busy>
      <div class="text-center text-danger my-2">
        <b-spinner class="align-middle"></b-spinner>
        <strong>Загрузка...</strong>
      </div>
    </template>
    <template #cell(username)="data">
      {{data.item.user.username}}
    </template>
    <template #cell(company)="data">
      {{data.item.user.company.name}}
    </template>
    <template #cell(position)="data">
      {{data.item.position.name}}
    </template>
    <template #cell(actions)="data">
      <b-button size="sm" @click="deleteUser(data.item.id)">Удалить</b-button>
    </template>
  </b-table>
  <b-link :to="{ name: 'contracts'}">К списку контрактов</b-link>
</div>
</template>

<script>
import axios from "axios";
import {
  mapState,
  mapGetters,
  mapActions
} from "vuex";

export default {
  data() {
    return {
      isContractUserListBusy: false,
      fields: [
        'username',
        'company',
        'position',
      ],
      canManage: false,
      newContractUser: {
        user_id: null,
        position_id: null
      },
    }
  },
  computed: {
    ...mapState('contracts', ['contract', 'contract_users', 'avalable_contract_users', 'positions']),
    ...mapState('auth', ['user']),
    id() {
      return this.$route.params.id;
    },
    availableUsersOptions() {
      return this.avalable_contract_users.map(user => {
        return {'value': user.user_id,
        'text': user.username + " - " + user.name}
      })
    },
    positionsOptions() {
      return this.positions.map(position => {
        return {'value': position.id,
        'text': position.name}
      })
    }
  },
  async created() {
    this.isContractListBusy = true;
    await this.fetchContract(this.id);
    this.isContractListBusy = false;
    if(this.isUserCanManageContract()(this.user.id)){
      this.fields.push('actions')
      this.canManage = true;
      this.fetchEditContract(this.contract.id)
    }
  },
  methods: {
    ...mapActions('contracts', ['fetchContract', 'destroyContractUser', 'fetchEditContract', 'addContractUser']),
    ...mapGetters('contracts', ['isUserCanManageContract']),
    rowClass(item, type) {
      if (!item || type !== 'row') return
      if (item.user.username == this.user.username) return 'table-success'
    },
    deleteUser(contract_user_id) {
      this.destroyContractUser(contract_user_id)
    },
    addUser() {
      this.addContractUser(this.newContractUser).then(response => this.fetchContract(this.id))
    }
  }
}
</script>
