<template>
<form ref="form" @submit.stop.prevent="handleSubmit">
  <b-form-group label="Имя пользователя:" label-for="name-input" invalid-feedback="Укажите название">
    <b-form-input id="name-input" v-model="username" required></b-form-input>
  </b-form-group>
  <b-form-group label="Пароль:" label-for="password-input" invalid-feedback="Укажите название">
    <b-form-input id="password-input" v-model="password" type="password" required></b-form-input>
  </b-form-group>
  <b-button type="submit">Войти</b-button>
</form>
</template>

<script>
import {mapActions, mapState} from "vuex";

export default {
  components: {},
  created() {},
  data() {
    return {
      username: null,
      password: null,
    }
  },
  computed: {
    ...mapState('auth', ['user']),
  },
  watch: {
    user(newValue, oldValue) {
      if(!newValue){
        return
      }
      this.$router.push('/');
    }
  },
  methods: {
    ...mapActions('auth', ['login']),
    handleSubmit(index) {
      this.login({
          username: this.username,
          password: this.password
      })
    }
  }
}
</script>
