{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  {% render_bundle 'main' 'css' %}
</head>

<body>
  <div class="wrap">
    <div id="app"></div>
  </div>

  {% render_bundle 'main' 'js' %}
</body>

</html>
